[run]
omit = 
        *__init__*
        migrations/*
        *migrations*
        *migrations/*
        core/*
        manage.py
        *apps.py
        *urls.py
        /.venv/*
        .venv
        .venv/
        .venv/*
        *.venv*