[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
djangorestframework = "*"
mock = "*"
openpyxl = "*"
django-cors-headers = "*"
coverage = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
django-storages = "*"
dropbox = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
