@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$black2: #1c1b23;
$white: white;

@import "../components/Header/Header";
@import "../components/quizQuestion/Question";
@import "../components/Header/Header";
@import "../components/Answer/Answer";

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background-color: $black2;
  color: $white;
}

.capitalized {
  text-transform: capitalize !important;
}

.font-size-larger {
  font-size: larger !important;
}
