@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../components/Header/Header";
@import "../components/quizQuestion/Question";
@import "../components/Header/Header";
@import "../components/Answer/Answer";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.capitalized {
  text-transform: capitalize !important;
}

.font-size-larger {
  font-size: larger !important;
}
