$error: #ea331a;
$success: #7cc245;

.correct {
  color: $success !important;
  background-color: lighten($success, 40%);
}
.incorrect {
  color: $error !important;
  background-color: lighten($error, 40%);
}
