@mixin custom-buttons {
  @extend .d-flex, .justify-content-end, .p-2, .text-center;
  position: relative;
  opacity: 0.8;
  right: 32px;
  font-size: 16px;
  max-height: 3em;
  z-index: 2;
}

.voting-hand {
  &-no {
    img {
      width: fit-content;
    }
    &::after {
      @include custom-buttons;
      background: lightcoral;
      content: "no";
    }
  }
  &-yes {
    img {
      width: fit-content;
    }
    &::after {
      @include custom-buttons;
      content: "yes";
      background: greenyellow;
    }
  }
}

.quote-icon {
  &::after {
    content: "";
    display: block;
    background-image: url("/icons/quote.svg");
    background-size: auto;
    background-repeat: no-repeat;
    opacity: 0.3;
    width: auto;
    position: relative;
    height: 3em;
    top: -5em;
    left: -10px;
  }
}

.author-card {
  @extend .bg-primary, .rounded;
}
